*{
    margin: 1.2px;
    box-sizing: border-box;
    color: whitesmoke;
}

body {
    background: #13141b; /*Op2*/
    text-align: center;
    display: flex;
    flex-direction: column;
    
    height: 100vh;
}

header {
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgb(0,0,0) 100%);
    padding: 1em 0 1em 0;
    font-family: 'Mukta', sans-serif;
}

.main {
    display: flex;
    flex: 1;
}

.left{
    background: rgba(2,0,36,1);
    padding: 2em 0 2em 0;
    flex: 1 1 100px;
    
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.left h2 {
    text-align: center;
    font-family: 'Mukta', sans-serif;
}
.left ul {
    text-align: left;
}

/*Books = main */
main {
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgb(7, 15, 88) 100%);
    padding: 2em;
    flex: 3 3 100px;
}

table {
    width: 100%;
    min-width: none;
    border-collapse: collapse;
    border-spacing: 0;
}

footer {
    background: #13141b; /*Op2*/
    font-size: 25px;
    font-family: 'Waterfall', cursive;
}

/*cellphones*/
@media all and (max-width: 380px){
    table {
        font-size: small;
    }
}

@media all and (max-width: 550px){
    /*Remove left content*/
    .left {
        display: none;
    }
    .main {
        flex-direction: column;
    }
    main {
        padding: 5em 0 5em 0;
    }
}

tr {
    border-bottom: dotted 2px white;
}

tr>td {
    padding: 1em 0;
  }

.button{
    width: 70px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: gray;
}

.button:hover{
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.671);
} 

.book_btn {
    text-align: center;
    border-radius: 8px;
    border: none;
    background-color: rgb(39, 39, 38);
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content */
.modal-content {
    background-color: #343334;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    height: 400px;
    border-radius: 20px;
    border: solid 4px black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    min-width: 250px;
  }

.modal_content_header{
    font-size: 30px;
    font-weight: bolder;
}

.modal_button {
    border-radius: 7px;
    width: 70%;
    height: 30px;
    color: black;
}

.warning {
    width: 70%;
    color: red;
    font-size: 10px;
    text-align: start;
    padding-left: 8px;
}

fieldset{
    border-radius: 10px;
}

  /* The Close and Confirm Button */
.modal_content_footer {
    display: flex;
    gap: 50px;
}
.close,.confirm {
    font-size: 28px;
    font-weight: bold;
  }

.read, .confirm{
    color: green;
}
.not_read,.close{
    color: brown;
}

.title_remove{
    font-weight: bold;
    font-size: larger;
}
.remove,.title_remove{
    color: brown;
    font-weight: bolder;
}

.close:hover, .close:focus,
.confirm:hover,.confirm:focus,
.read:hover,.not_read:hover,
.remove:hover {
  color: rgb(202, 202, 202);
  text-decoration: none;
  cursor: pointer;
}
/*End modal*/

/* Style all social media icons */

.fa {
    padding: 5px;
    font-size: 15px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

  .fa-github{
    background: gray;
    color: white;
  }